* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  background-color: black;
}

nav {
  background-color: rgba(0, 0, 0, 0.432);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  z-index: 9999;
}

nav .logo {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(246, 245, 245);
  text-shadow: 2px 2px 2px grey;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(252, 251, 251);
  transition: 1s;
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(84, 84, 84);
  box-sizing: border-box;
}

.home {
  text-align: center;
  /* border: 2px solid white; */
  background-color: chartreuse;
  color: black;
  padding: 5px 5px;
  border-radius: 5px;
}

.hero {
  position: absolute;
  background-image: url(/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

img {
  width: 200px;
  height: 200px;
  /* float: right; */
  border-radius: 20px;
  margin-left: 400px;
}
.wrap {
  display: flex;
  justify-content: space-between;
  margin: 150px 50px;
  color: aliceblue;
  align-items: center;
}

.wrap h3 {
  color: chartreuse;
  margin-bottom: 25px;
}
div .wrap .content {
  max-width: 50%;
  position: relative;
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.menu span {
  height: 3px;
  width: 28px;
  margin: 3px;
  border-radius: 3px;
  background-color: #fff;
}

.menu input {
  opacity: 0;
  right: 41.5px;
  width: 50px;
  height: 28px;
  position: absolute;
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 60%;
  }
  .menu {
    display: flex;
  }

  nav ul {
    display: none;
  }

  .wrap {
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-between; */
    align-items: center;
    padding: 30px -10000px;
  }

  img {
    margin-bottom: 50px;
    margin-left: 0;
  }

  .wrap .content {
    text-align: center;
    width: 100%;
    /* position: absolute; */
  }

  .wrap .content p {
    text-align: left;
    margin-left: 0px;
    position: relative;
  }
}
