* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}

nav .logo {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(246, 245, 245);
  text-shadow: 2px 2px 2px grey;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(252, 251, 251);
  transition: 1s;
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(84, 84, 84);
  box-sizing: border-box;
}

.home {
  text-align: center;
  /* border: 2px solid white; */
  border-radius: 5px;
  background-color: chartreuse;
  color: black;
  padding: 5px 5px;
}

.wrap {
  float: left;
  background-color: rgb(23, 22, 22);
  margin: 20px;
  color: aliceblue;
  margin-left: 30px;
  position: absolute;
  /* border: solid 2px chartreuse; */
  border-radius: 10px;
  padding: 100px 25px;
}
img {
  float: right;
  border-radius: 20px;
}
.wrap h3 {
  color: chartreuse;
}

@media screen and (max-width: 576px) {
  nav ul {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 60%;
  }
}
