* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: black;
}

nav {
  /* background-color: rgba(16, 15, 15, 0.676); */
  font-family: "Source Code Pro", monospace;
  background-color: #101010ac;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  backdrop-filter: blur(5px);
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  z-index: 99999;
  border-bottom: 1px solid rgb(74, 74, 74);
}

nav .logo {
  display: flex;
  font-size: 20px;
  color: rgb(246, 245, 245);
  font-family: "orbitron", sans-serif;
}

/* text-shadow: 2px 2px 2px grey; */

nav ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(252, 251, 251);
  transition: 1s;
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(84, 84, 84);
  box-sizing: border-box;
}

.home {
  text-align: center;
  /* border: 2px solid white; */
  background-color: chartreuse;
  color: black;
  padding: 5px 5px;
  border-radius: 5px;
}

.hero {
  /* position: absolute; */
  /* top: 0; */
  /* height: auto; */
  /* background-image: url(/background.jpg); */
  /* box-shadow: 0.5px 0.5px 10px gray; */
  margin-top: 90px;
  margin-left: 10px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  border-radius: 15px;
  /* border: 1px solid chartreuse; */
  background-color: #1c1c1c;
}

/* .hero .background {
  color: black;
  width: 508px;
  height: 508px;
  position: absolute;
  right: 80px;
  bottom: 20px;
  filter: drop-shadow(0.5px 0.5px 10px chartreuse);
} */

.fotoku {
  width: 500px;
  height: 500px;
  /* float: right; */
  margin-top: 90px;
  border-radius: 50%;
  margin-left: 10px;
  z-index: 9999;
}
.wrap {
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  margin: 100px 50px;
  color: aliceblue;
  align-items: center;
  /* position: absolute; */
}

.wrap h3 {
  color: chartreuse;
  margin-bottom: 25px;
  padding: -50px;
}
.wrap .content {
  margin-top: 200px;
  max-width: 50%;
  position: relative;
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.menu span {
  height: 3px;
  width: 28px;
  margin: 3px;
  border-radius: 3px;
  background-color: #fff;
}

.menu input {
  opacity: 0;
  right: 41.5px;
  width: 50px;
  height: 28px;
  position: absolute;
}

.wrap .content .button {
  padding: 10px;
  color: chartreuse;
  border: 2px solid chartreuse;
  margin-top: 25px;
  background: none;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

/* tentang */

.about {
  margin: 50px 20px 50px 20px;
  background-color: #1c1c1c;
  /* border: 1px solid chartreuse; */
  border-radius: 15px;
  /* box-shadow: 0.5px 0.5px 10px gray; */
}

.about h2 {
  text-align: center;
  color: #fff;
  padding-top: 50px;
  /* position:; */
}

.about .card-about {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  margin: 35px auto;
  padding: 35px;
}

.about .about-1 {
  background-color: chartreuse;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 10px gray;
}

.about .about-2 {
  background-color: chartreuse;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 10px gray;
}

/* project section */
.project,
.skil,
.contact {
  background-color: #1c1c1c;
  margin-bottom: 50px;
  margin: 50px 20px 50px 20px;
  border-radius: 10px;
  /* box-shadow: 0.5px 0.5px 10px gray; */
}

.project h2,
.skil h2,
.contact h2 {
  padding-top: 30px;
  /* display: inline-block; */
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.project .container-card,
.skil .container-skil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project .card,
.container-skil .row {
  /* height: 300px; */
  align-items: center;
  /* border: 2px solid black; */
  background-color: black;
  margin: 30px 30px;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.project .card .header {
  /* background-color: #3d3c3c; */
  height: 200px;
  margin-bottom: 15px;
  width: inherit;
}

.header img {
  border-radius: 10px;
  width: 516.69px;
  height: 256px;
}
.card p {
  margin-top: 70px;
  font-weight: bold;
}

.card a {
  text-decoration: none;
  color: #3d3c3c;
}

.project .card button {
  margin: 15px;
  padding: 10px;
  width: 90px;
  color: rgb(54, 54, 54);
  background-color: chartreuse;
  border: none;
  font-weight: bold;
  border-radius: 10px;
}

.row p {
  margin-top: 10px;
  font-weight: bold;
}
.skil .row img {
  transition: 1s;
  cursor: pointer;
}

.skil .row img:hover {
  width: 250px;
  height: 250px;
  background-color: black;
}

.contact .row {
  /* display: flex; */
  /* flex-direction: column; */
  color: #fff;
  /* align-items: center; */
}

.contact .row h4 {
  margin-bottom: 15px;
  margin-left: 25%;
}

.contact .row input {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  height: 50px;
  width: 650px;
  margin-left: 25%;
  margin-bottom: 35px;
  /* align-items: center; */
}

.contact .tobrut {
  margin-left: 48%;
  margin-bottom: 40px;
  width: 80px;
  height: 40px;
  background-color: chartreuse;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

/* fotter */
footer {
  background-color: #1c1c1c;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .social a:hover,
footer .social .links:hover {
  color: var(--bg);
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit p {
  color: #fff;
  font-weight: 700;
  margin-top: 15px;
}
/* penutup fotter */

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 60%;
  }
  .menu {
    display: flex;
  }

  nav ul {
    display: none;
  }

  .wrap {
    display: flex;
    flex-direction: column-reverse;
    margin: 2px -10px;
    /* justify-content: space-between; */
    align-items: center;
    padding: 30px -1000px;
  }

  .hero .background {
    font-size: 100px;
    transform: rotate(20);
    left: 120px;
    top: 390px;
  }

  .hero .wrap .content p {
    text-align: center;
    /* padding: -110px; */
  }

  .fotoku {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: -150px;
    margin-left: 0;
  }

  .wrap .content {
    text-align: center;
    max-width: 80%;
    /* position: absolute; */
  }

  .wrap .content p {
    text-align: center;
    margin-left: 0px;
    position: relative;
  }

  .about .card-about {
    flex-direction: column;
  }
  .about-1 {
    height: 30%;
  }

  .about-2 {
    height: 30%;
  }

  .project .card {
    align-items: center;
  }

  .card p {
    margin-top: 10px;
  }
  .header img {
    position: relative;
    top: -0px;
    width: 292.67px;
    height: 192.67px;
  }
  .skil .row img:hover {
    width: 100px;
    height: 100px;
    background-color: black;
  }
  .skil .row img {
    width: 75px;
    height: 75px;
  }

  .contact .row h4 {
    margin-left: 15%;
  }

  .contact .row input {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    height: 40px;
    width: 300px;
    margin-left: 7%;
    margin-bottom: 35px;
    /* align-items: center; */
  }

  .contact .tobrut {
    margin-left: 40%;
  }
}
